{% extends 'base.html.twig' %}

{% block title %}
    Search App
{% endblock %}

{% block stylesheets %}
    {{ include('stylesheets.html.twig') }}
{% endblock %}

{% block body %}
    <div style="padding: 1em; margin: 0;">
        <div class="search-container">
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" name="query" type="text" placeholder="Search"
                       aria-label="Search" value="{{ searchTerm }}">
            </form>
        </div>
    </div>

    {% if searchResults %}
        <div style="padding: 1em; margin: 0;">
            <h5>Search results for "{{ searchTerm }}"</h5>
            <ul class="list-group">
                {% for result in searchResults %}
                    {% set item = result._source %}
                    <li class="list-group-item">
                        <div>
                            {% if item.image_url %}
                                <a target="_blank" href="{{ item.url }}">
                                    <img class="image-result-thumbnail" src="{{ item.image_url[0] }}">
                                </a>
                            {% endif %}
                            <h5><a target="_blank" class="default no-decoration"
                                   href="{{ item.url }}">{{ item.title }}</a></h5>
                            {% if item.description %}
                                <p>{{ item.description[0] }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif searchTerm is not empty %}
        <div style="padding: 1em; margin: 0;">
            No results found for "{{ searchTerm }}"
        </div>
    {% endif %}

{% endblock %}
